---
import { displayCommits, GitHubPAT } from "../github-commits";
---

{
  GitHubPAT && displayCommits && (
    <table>
      <tr>
        <th>Aanpassing</th>
        <th>Door</th>
        <th>Datum</th>
      </tr>

      {displayCommits
        .map((commit: any) => (
          <tr>
            <td>
              <a target="_blank" href={commit.html_url}>
                {commit.bericht}
              </a>
            </td>
            <td>{commit.auteur}</td>
            <td>{commit.datumFormatted}</td>
          </tr>
        ))
        .slice(0, 20)}
    </table>
  )
}
